.Search {
  position: relative;
  width: 21.4285rem;
}

.Search-button {
  height: 2.2857rem;
  position: absolute;
  left: 0.5714rem;
  top: 0.2857rem;
  width: 2.4285rem;
}

.Search-input {
  background-color: inherit;
  border: none;
  border-bottom: 0.0714rem solid white;
  float: left;
  margin-left: 0.5714rem;
  margin-top: 0.2857rem;
  height: 2.0571rem;
  width: inherit;
}
