.Search {
  position: relative;
  width: 19.4285rem;
}

.Search-button {
  height: 2rem;
  position: absolute;
  left: 0.5714rem;
  top: 0.2857rem;
  width: 2rem;
}

.Search-input {
  background-color: inherit;
  border: none;
  border-bottom: 0.15rem solid white;
  color: white;
  height: 2.0571rem;
  float: left;
  margin-left: 0.5714rem;
  margin-top: 0.2857rem;
  padding-left: 3rem;
  width: inherit;
}
