.TextBody {
  position: relative;
}
.TextBody-text {
  margin: 0 0.4rem;
  max-height: 10rem;
  overflow: hidden;
  text-align: left;
}

.TextBodyReadMore {
  height: 2rem;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(transparent, white);
  background: -o-linear-gradient(transparent, white);
  background: -moz-linear-gradient(transparent, white);
  background: linear-gradient(transparent, white);
}

.TextBodyReadMore-text {
  background: white;
  color: #26A69A;
  display: block;
  font-size: 1.2857rem;
  opacity: 0.9;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}
